<div class="row" *ngIf="loading">
  <div class="col-md-4 col-md-offset-4">
    <div class="spinner-border text-info float-right" role="status">
      <span class="sr-only"></span>
    </div>
  </div>

</div>
<div class="new-post-container">
  <form [formGroup]="editCuadrilla" (ngSubmit)="editar_cuadrilla(editCuadrilla.value)">


    <mat-form-field>
      <mat-label>Movil Asociado</mat-label>
      <input matInput placeholder="movilAsociado" formControlName="movilAsociado">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Zona</mat-label>
      <mat-select placeholder="zona" formControlName="zona">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let zona of zona" value = {{zona.idZona}}>{{zona.localidad}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Proveedor</mat-label>
      <mat-select placeholder="proveedor" formControlName="proveedor">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let proveedor of proveedor" value = {{proveedor.idProveedor}}>{{proveedor.nombre}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Turno de trabajo</mat-label>
      <mat-select placeholder="turnoTrabajo" formControlName="turnoTrabajo">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let turnoTrabajo of turnoTrabajo" value = {{turnoTrabajo.idTurno}}>{{turnoTrabajo.descripcion}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="container-button">
      <input type="submit" class="mat-flat-button" value="Save">
    </div>
  </form>
</div>
