<div class="row" *ngIf="loading">
  <div class="col-md-4 col-md-offset-4">
    <div class="spinner-border text-info float-right" role="status">
      <span class="sr-only"></span>
    </div>
  </div>

</div>
<div class="new-post-container">
  <form [formGroup]="newUsuario" (ngSubmit)="register_usuario(newUsuario.value)">
    <mat-form-field>
      <mat-label>Correo / Login</mat-label>
      <input matInput placeholder="Ingrese el correo" formControlName="login" type="email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Clave</mat-label>
      <input matInput placeholder="Ingrese la clave" formControlName="clave">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tipo de documento</mat-label>
      <input matInput placeholder="Seleccione tipo de documento" formControlName="tipoDocumento" >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Numero de identificacion</mat-label>
      <input matInput placeholder="Ingrese el numero del documento" formControlName="numDocumento">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Direccion</mat-label>
      <input matInput placeholder="Ingrese la direccion" formControlName="direccion">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cuadrilla</mat-label>
      <input matInput placeholder="Seleccione la cuadrilla" formControlName="cuadrilla">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rol</mat-label>
      <input matInput placeholder="Seleccione el rol" formControlName="rol">
    </mat-form-field>
    <div class="container-button">
      <input type="submit" class="mat-flat-button" value="Save">
    </div>
  </form>
</div>

