<div class="register">
  <div class="row" *ngIf="loading">
    <div class="col-md-4 col-md-offset-4">
      <div class="spinner-border text-info float-right" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

  </div>
  <form class="custom-form" method="post" (ngSubmit)="register_usuario()" id="register_usuario">
    <h1>Registro Usuario</h1>
    <input
      type="text"
      [(ngModel)] = "usuario.login"
      name="login"
      placeholder="Ingrese el correo del usuario"
      required="required"
    />
    <input
      type="text"
      [(ngModel)] = "usuario.clave"
      name="clave"
      placeholder="Ingrese la clave"
      required="required"
    />
    <br>
    <label>Seleccione el tipo de documento:  </label>
    <br>
    <br>
    <select [(ngModel)]="usuario.tipoDoc" [ngModelOptions]="{standalone: true}">
      <option *ngFor="let tipoDocumento of tipoDocumento" value = {{tipoDocumento.idDocumento}}>
        {{tipoDocumento.descripcion}}
      </option>
    </select>
    <input
      type="numeric"
      [(ngModel)]="usuario.identificacion"
      name="identificacion"
      placeholder="Ingrese el número de identificación"
      required="required"
    />
    <input
      type="text"
      [(ngModel)] = "usuario.direccion"
      name="direccion"
      placeholder="Ingrese la dirección de residencia"
      required="required"
    />

    <br>
    <label>Seleccione la cuadrilla:  </label>
    <br>
    <br>
    <select [(ngModel)]="usuario.idCuadrilla" [ngModelOptions]="{standalone: true}">
      <option *ngFor="let cuadrilla of cuadrilla" value = {{cuadrilla.idCuadrilla}}>
        {{cuadrilla.movilAsociado}}
      </option>
    </select>
    <br>
    <br>
    <label>Seleccione Rol:  </label>
    <br>
    <br>
    <select [(ngModel)]="usuario.idRol" [ngModelOptions]="{standalone: true}">
      <option *ngFor="let rol of rol" value = {{rol.idRol}}>
        {{rol.tipoRol}}
      </option>
    </select>
    <br>
    <br>
    <button type="submit" >Registrar</button>
    <div class="row" *ngIf="errorInicio">
      <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
          <strong>Error: </strong> {{mensajeError}}
        </div>
      </div>
    </div>
  </form>
</div>

