<div class="container">
  <div class="card-body">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Id</th>
        <th>Login</th>
        <th>TipoDoc</th>
        <th>identificacion</th>
        <th>fecha_ultima_contra</th>
        <th>direccion</th>
        <th>nomRol</th>
        <th>idCuadrilla</th>
        <th>intentos</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody class="body_tabla">
      <tr *ngFor="let usuario of usuario" class="text-center" >
        <td>{{usuario.idUsuario}}</td>
        <td>{{usuario.login}}</td>
        <td>{{usuario.tipoDoc}}</td>
        <td>{{usuario.identificacion}}</td>
        <td>{{usuario.fecha_ultima_contra}}</td>
        <td>{{usuario.direccion}}</td>
        <td>{{usuario.nomRol}}</td>
        <td>{{usuario.idCuadrilla}}</td>
        <td>{{usuario.idCuadrilla}}</td>
        <td>{{usuario.estado}}</td>
        <td>
          <button (click)="Editar(usuario)" class="btn btn-warning">Editar</button>
          <button (click)="Delete(usuario)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
