<div class="row" *ngIf="loading">
  <div class="col-md-4 col-md-offset-4">
    <div class="spinner-border text-info float-right" role="status">
      <span class="sr-only"></span>
    </div>
  </div>

</div>
<div class="new-post-container">
  <form [formGroup]="editZona" (ngSubmit)="editar_zona(editZona.value)">
    <mat-form-field>
      <mat-label>Ciudad</mat-label>
      <input matInput placeholder="Ingrese la ciudad" formControlName="ciudad">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Coordenadas</mat-label>
      <input matInput placeholder="Ingrese las coordenadas" formControlName="coordenadas">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Localidad</mat-label>
      <input matInput placeholder="Email" formControlName="localidad" >
    </mat-form-field>
    <div class="container-button">
      <input type="submit" class="mat-flat-button" value="Save">
    </div>
  </form>
</div>
