<mat-form-field>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.idInforme }}</td>
  </ng-container>

  <ng-container matColumnDef="fechaHora">
    <th mat-header-cell *matHeaderCellDef>Fecha y hora</th>
    <td mat-cell *matCellDef="let element">{{ element.fechaHora }}</td>
  </ng-container>

  <ng-container matColumnDef="ipUsuario">
    <th mat-header-cell *matHeaderCellDef>IP Usuario</th>
    <td mat-cell *matCellDef="let element">{{ element.ipUsuario }}</td>
  </ng-container>

  <ng-container matColumnDef="operacionCrud">
    <th mat-header-cell *matHeaderCellDef>Acción</th>
    <td mat-cell *matCellDef="let element">{{ element.operacionCrud }}</td>
  </ng-container>

  <ng-container matColumnDef="tabla">
    <th mat-header-cell *matHeaderCellDef>tabla</th>
    <td mat-cell *matCellDef="let element">{{ element.tabla }}</td>
  </ng-container>

  <ng-container matColumnDef="usuario">
    <th mat-header-cell *matHeaderCellDef>Usuario</th>
    <td mat-cell *matCellDef="let element">{{ element.usuario }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
></mat-paginator>

