<app-navbar></app-navbar>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
</head>

<body>
<header>

  <section class="textos-header">
    <h1>Módulo administrador: Electri-Bogotá</h1>
    <h2>Empresa de Energia Electrica</h2>
  </section>
  <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                                                                  style="height: 100%; width: 100%;">
    <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
          style="stroke: none; fill: #fff;"></path>
  </svg></div>
</header>
<main>
  <section class="contenedor sobre-nosotros">
    <h2 class="titulo">Nuestro servicio</h2>
    <div class="contenedor-sobre-nosotros">
      <img src="./assets/home_img/ilustracion2.svg" alt="" class="imagen-about-us">
      <div class="contenido-textos">
        <h3><span>1</span>Servicio de instalación</h3>
        <p>Para cualquier servicio de instalación, es necesario contar con un punto de red, para suministrar la electricidad.
        Nosotros nos encargamos de realizar el análisis del area y demás actividades propias que sean necesarias para
        satisfacerlo a usted como cliente</p>
        <h3><span>2</span>Servicio de reparación</h3>
        <p>Comuniquese con nosotros para la corrección de cualquier error dado en algunos de nuestros puntos de la red electrica, ya sea
        propio en la casa de residencia o en una estación electrica</p>
      </div>
    </div>
  </section>
  <section class="portafolio">
    <div class="contenedor">
      <h2 class="titulo">Servicios</h2>
      <div class="galeria-port">
        <div class="imagen-port">
          <img src="./assets/home_img/img1.jpg" alt="">
          <div class="hover-galeria">
            <img src="./assets/home_img/icono1.png" alt="">
            <p>Servicio de mantenimiento</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="./assets/home_img/img2.jpg" alt="">
          <div class="hover-galeria">
            <img src="./assets/home_img/icono1.png" alt="">
            <p>Servicio de instalación</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="./assets/home_img/img3.jpg" alt="">
          <div class="hover-galeria">
            <img src="./assets/home_img/icono1.png" alt="">
            <p>Servicio de revisión</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="./assets/home_img/img1.jpg" alt="">
          <div class="hover-galeria">
            <img src="./assets/home_img/icono1.png" alt="">
            <p>Servicio de análisis</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="clientes contenedor">
    <h2 class="titulo">Disponibilidad</h2>
    <div class="cards">
      <div class="card">
        <div class="contenido-texto-card">
          <h4>Horarios</h4>
          <p>Dia: 8:00 am a 11:00 am</p>
          <p>Tarde: 1:00 pm a 4:00 pm</p>
          <p>Noche: 6:00 pm a 8:00 pm</p>
        </div>
      </div>
      <div class="card">
        <div class="contenido-texto-card">
          <h4>Ubicaciones</h4>
          <p>Bogotá: En las localidades de Suba, Usaquén, Chapinero, Santa Fe, San Cristóbal, Usme, Bosa y Kennedy</p>
        </div>
      </div>
    </div>
  </section>
  <section class="about-services">
    <div class="contenedor">
      <h2 class="titulo">Atención al usuario</h2>
      <div class="servicio-cont">
        <div class="servicio-ind">
          <img src="img/ilustracion2.svg" alt="">
          <h3>-----</h3>
          <p></p>
        </div>
        <div class="servicio-ind">
          <img src="img/ilustracion4.svg" alt="">
          <h3>Contactanos</h3>
          <p>Cualquier reclamo, queja o solicitud comuniquese mediante los datos encontrados en la parte inferior</p>
        </div>
        <div class="servicio-ind">
          <img src="img/ilustracion3.svg" alt="">
          <h3>-----</h3>
          <p></p>
        </div>
      </div>
    </div>
  </section>
</main>
<footer>
  <div class="contenedor-footer">
    <div class="content-foo">
      <h4>Phone</h4>
      <p>3195592550, 3103419720</p>
    </div>
    <div class="content-foo">
      <h4>Email</h4>
      <p>bmorenor@unbosque.edu.co, dfmejiar@unbosque.edu.co</p>
    </div>
    <div class="content-foo">
      <h4>Location</h4>
      <p>Universidad El Bosque</p>
    </div>
  </div>
  <h2 class="titulo-final">&copy; Brayan Moreno / Daniel Mejia / Ricardo Cuevas</h2>
</footer>
</body>


<router-outlet></router-outlet>
