<mat-nav-list>
  <div class="logo py-4">
    <img src="assets/admin_img/MCM.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/provedor_admin">
    <mat-icon>edit</mat-icon> Proveedor
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/cuadrilla_admin">
    <mat-icon>edit</mat-icon> Cuadrilla
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/usuario_admin">
    <mat-icon>edit</mat-icon> Usuarios
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/cliente_admin">
    <mat-icon>edit</mat-icon> Cliente
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/materialCuadrilla_admin">
    <mat-icon>edit</mat-icon> Material - Cuadrilla
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/ordentrabajo_admin">
    <mat-icon>edit</mat-icon> Orden de Trabajo
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/telefono_admin">
    <mat-icon>edit</mat-icon> Telefono
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/material_admin">
    <mat-icon>edit</mat-icon> Material
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/parametro_admin">
    <mat-icon>edit</mat-icon> Parametro
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/tipodocumento_admin">
    <mat-icon>edit</mat-icon> Tipo de Documento
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/tiposervicio_admin">
    <mat-icon>edit</mat-icon> Tipo de Servicio
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/turnotrabajo_admin">
    <mat-icon>edit</mat-icon> Turno de trabajo
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/zona_admin">
    <mat-icon>edit</mat-icon> Zona
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/auditoria_admin">
    <mat-icon>edit</mat-icon> Auditoria / Trazabilidad
  </a>
</mat-nav-list>
