<div class="row" *ngIf="loading">
  <div class="col-md-4 col-md-offset-4">
    <div class="spinner-border text-info float-right" role="status">
      <span class="sr-only"></span>
    </div>
  </div>

</div>
<div class="new-post-container">
  <form [formGroup]="editUsuario" (ngSubmit)="editar_usuario(editUsuario.value)">

    <mat-form-field>
      <mat-label>Correo / Login</mat-label>
      <input matInput placeholder="Ingrese el correo" formControlName="login" type="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Clave</mat-label>
      <input matInput placeholder="Ingrese la clave" formControlName="clave">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tipo de documento</mat-label>
      <mat-select placeholder="tipoDocumento" formControlName="tipoDoc">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let tipoDocumento of tipoDocumento" value = {{tipoDocumento.idDocumento}}>{{tipoDocumento.descripcion}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Numero de identificacion</mat-label>
      <input matInput placeholder="Ingrese el numero del documento" formControlName="identificacion">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Direccion</mat-label>
      <input matInput placeholder="Ingrese la direccion" formControlName="direccion">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cuadrilla</mat-label>
      <mat-select placeholder="cuadrilla" formControlName="idCuadrilla">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let cuadrilla of cuadrilla" value = {{cuadrilla.idCuadrilla}}>{{cuadrilla.movilAsociado}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Rol</mat-label>
      <mat-select placeholder="rol" formControlName="idRol">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let rol of rol" value = {{rol.idRol}}>{{rol.tipoRol}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="container-button">
      <input type="submit" class="mat-flat-button" value="Save">
    </div>
  </form>
</div>
